.main{
  display: block;
  margin-top: 20px;
}
.logoo{
  display: grid;
justify-items: center;  
margin: auto;
}

section{
  width: 100vh;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  border-radius : 10px;
  align-items: center;
  justify-content: center;
}

/* Logo added */
.app-logo{

  height: 10vh;
  pointer-events: none;
}

.app-logo{
  animation: App-logo-spin infinite 2s linear;
}
@keyframes App-logo-spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* p */
.pbr{
  color: #6c757d6b;
  font-size: smaller;
  
}
.creator{
  float: right;
  color: #6c757d6b;
  font-size: smaller;
}
